@import 'variables.scss';


//Header
.frontPageHeader{
    background-image: url("../res/img/forside/landingPageBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    //margin: 10vh auto 0 auto
}
.headerWrapper{
    padding: 100px 0 0 100px;
    color: $light-text;
}
.mainHeader{
    font-size: 4rem;
}
.mainDescription{
    font-size: 2rem;
    color: $light-text;
}
.headerWrapper section button{
    border: none;
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 30px;
    position: absolute;
    top: 20px;
    //right: 0;
}
.headerLogin{
    right: 50px;
}
.headerTilmeld{
    right: 200px;
}

//grid area
.grid-container-frontpage{
    margin: 50px 0 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
}
.grid-item-frontpage{
    background-color: $light-grey;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    img{
        width: 80%;
        margin: 20px auto 0 auto;
    }
    section{
        width: 80%;
        margin: 5px auto 20px auto;
    }
} 