@import 'variables.scss';

.frontPageHeader{
    background-image: url("../res/img/forside/landingPageBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 70vw;
    display: flex;
    margin: 10vh auto 0 auto
}
.headerWrapper{
    padding: 200px 0 0 100px;
    color: $light-text;
}
.mainHeader{
    font-size: 4rem;
}
.mainDescription{
    font-size: 2rem;
    color: $light-text;
}
.headerLogin{
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}


.grid-container-frontpage{
    margin: 10vh auto 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item-frontpage img{
    margin: 0 auto;
    width: 300px;
    display: flex;
}