@import 'variables.scss';

.frontPageHeader{
    background-image: url("../../public/res/img/forside/landingPageBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.headerWrapper{
    padding: 40vh 0 0 100px;
    color: white;
}
.mainHeader{
    font-size: 4rem;
}
.mainDescription{
    font-size: 2rem;
    color: white;
}
.headerLogin{
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
}