@import 'variables.scss';

.grid-container-home{
    display: grid;
    grid-template-columns: 5fr 2fr;
}
.grid-item-home{
    div{
        margin: 30px 10px;
        border-radius: 10px;
        
    }
}

// PRACTICE INFO CONTAINER XXXXXXXXXXXXXXXXXXXXXXXXXX
.next-practice{
    background-color: $main-color;
    color: $light-text;
    display: grid;
    grid-template-columns: 2fr 1fr;
    .next-practice-container{
        padding: 20px 30px; 
    }
    .prac-sub-header{
        color: $faded-grey;
        margin: 0;
    }
    h1{
        margin: 0;
    }
    .practice-info-container{
        display: grid;
        margin: 15px 0px;
        padding: 0; 
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        .pi-date{
            p, h3{
                margin: 0;
            }
        }
        section span{
            display: grid;
            grid-template-columns: 1fr 3fr;
            margin: 12px 0 0 0;
            p, img{
                display: flex;
            }
            p{
                margin: auto auto auto 10px;
            }
            img{
                margin: auto;
            }
        }
        
    }
    .pi-last-column{
        background-image: url('../res/img/homepage/soccer-ball.svg');
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: inherit;
        opacity: 0.2;
    }
}


// CALENDAR XXXXXXXXXXXXXXXXXXXXXXXXXX
.home-calendar{
    background-color: $light-grey;
    //height: 30vh; 
    div{
        margin: 0;
    }
}






// EVENTS XXXXXXXXXXXXXXXXXXXXXXXXXX
.home-events{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 10px 0px 10px !important;
    div{
        margin: 0;
    }
    div section{
        background-color: $light-grey;
        padding: 15px;
        margin: 20px 10px;
        border-radius: 10px;
        span{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 30px 0 0 0;
            p{
                display: flex;
            }
            :first-child{
                margin-right: auto;
            }
            :last-child{
                margin-left: auto;
            }
        }
    }
}
.all-events-link-container{
    margin: 0  0 30px 0!important;
}
.all-events-link{
    text-decoration: none;
    color: $main-color;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    margin: 0 auto;
    width: fit-content;
}.all-events-link:hover{
    font-size: 2.2rem;
    transition: 1s;
    color: $main-color;
    cursor: pointer;
}



/// TMP PROFILE
.profile{
    display: flex;
    margin-left: auto;
    section{
        margin-left: auto;
    }
}