@import 'variables.scss';

.profile-pic-section{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: fit-content;
    img{
        height: 40px;
        width: 40px;
    }
    .profile-pic{
        margin-left: 20px;
    }
}
#profileArrow{
    transition-duration: 0.5s;
}

.profile-dropdown{
    display: none;
    flex-direction: column;
    margin: 10px 0 10px auto; 
    width: fit-content;
    position: absolute;
    right: 60px;
    a{
        border: 1px solid $light-grey;
        padding: 5px 15px;
        border-radius: 3px;
        margin: 3px;
        box-shadow: 1px 1px 5px rgb(128, 128, 128, 0.5);
        background-color: white;
        cursor: pointer;
    }
}

.profile-column-body{
    display: flex;
    flex-direction: column;
    .profile-column-profile-container{
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        p{
            margin: 10px 10px 10px auto
        };
        
    }
    
    .profile-column-news-container{
        section{
            background-color: $light-grey;
            padding: 15px;
            margin: 20px 10px;
            border-radius: 10px;
            p{
                font-size: .8em;
            }
            :last-child{
                font-size: .7em;
                width: fit-content;
                margin: 0 0 0 auto;
            }
        }
    }

}


@media only screen and (max-width: 800px) {
    .profile-column-body{
        display: none;

        position: absolute;
        top: 90px;
        right: 20px;
        z-index: 2;
        padding: 40px 0 40px 0;
        width: 50vw;
        background-color: white;
        box-shadow: 5px 10px 10px rgb(128, 128, 128, 0.5);
        border-radius: 10px;
    }
    .profile-dropdown{
        top: 80px;
        right: 30px;
    }
    .grid-container-home{
        grid-template-columns: 1fr !important;
    }
    .profile-pic-section{
        position: absolute;
        top: 45px;
        right: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .profile-column-body{
        width: 100%;
        right: 0vw;
        margin-right: 0px !important;
    }
    
}