@import 'variables.scss';

/* -------------navbar------------- */
.NavBar {
  position: fixed;
  top: 5%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $light-text;
  padding: 15px 15px;
}
.forside {
  padding-left: 20px;
}

.tabs {
  padding: 15px 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.navbartxt {
  margin: 10px;
  font-weight: lighter;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  color: Grey;
  text-decoration: none;
}

.navbartxt.active {
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.navbartxt:hover {
  text-decoration-line: underline;
  text-underline-offset: 5px;
  color: white;
}

/* ---------------------------- */

.body {
  margin-left: 20vw;
}

/* .medlemmerList {
  columns: 8;
}

.medlemmerListItem {
  
  width: 100%;
} */

.headerContent{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
}

.headerContent2{
  margin-right: 5px;
}

.medlemmerTable {
  table-layout: fixed;
  /* columns: 8; */
  border-collapse: collapse;
  width: 100%;
}

.firstCol {
  /* padding-left: 10px; */
  width: 50px;
}

/* .otherCols{
  width: 75;
} */

.dropdownCols{
  width: 150px;
}

.alternate {
  background-color: #dddddd;
}

.tableRow {
  height: 3rem;
}

.buttons {
  padding-right: 20px;
  /* float: right; */
  width: 50px;
  
}

.button {
  border: none;
  border-radius: 10px;

  padding: 5px 10px;
  margin-left: 10px;
  transition: transform 200ms ease-in-out;
}

.dropdown {
  text-decoration: none;
  width: 120px;
  font-size: 25px;
  /* width: 50%; */
}

.button:hover {
  transform: scale(1.1);
}

.tableTextField {
  width: 50%;
}

.searchbar{
  margin-top: 20px;
  margin-bottom: 20px;
  float:right;
  margin-right: 30px;
  
}