@import 'variables.scss';

/* -------------navbar------------- */
.NavBar {
  position: fixed;
  top: 0;
  width: 20vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: $light-text;
  padding: 15px 15px;
}
.forside {
  padding-left: 20px;
}

.tabs {
  padding: 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.navbartxt {
  margin: 10px;
  font-weight: lighter;
  padding: 5px 10px;
  font-size: 20px;
  color: $normal-grey;
  text-decoration: none;
}

.navLogo{// LOGO in top left corner
  text-decoration: none;
  color: $main-color;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin-top: 50px;
  
}.navLogo:hover{
  color: $main-color;
}

.navbartxt.active{
  text-underline-offset: 5px;
  background-color: $main-color;
  color: $light-text;
  border-radius: 10px;
  .navbarImg{
    filter: invert(0%);
    filter: brightness(100);
  }
}

.navbarImg{
  height: 20px;
  padding-bottom: 3px;
  margin-right: 0px;
  filter: invert(10%)
}

.navbartxt:hover {
  text-decoration-line: underline;
  text-underline-offset: 5px;
  color: white;
}

/* -------------Right Column------------- */
.right_column {
  padding-top: 50px;
  padding-right: 20%;
}

.column_top {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: 100%;
}
.avatar_dropdown {
  display: inline-block;
  float: right;
  margin-bottom: 30px;
}
.right_align {
  text-align: right;
}
.bulletin_header{
  padding-top: 50px;
  font-weight: bold;

}
.bulletin_card_grid{
  display: grid;
  justify-content: flex-end;
  grid-template-columns: 100%;
}
.bulletin_card{
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: 0;
  float: right;
  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    padding-top: 10px;

    .bulletin_date {
      font-size: 12px;
      float: right;
      height: 0;
    }
  }
}


/* ---------------------------- */

.body {
  //display: flex;
  margin: 100px 50px 50px 20vw;
}

/* .medlemmerList {
  columns: 8;
}
.medlemmerListItem {
  
  width: 100%;
} */

.headerContent{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
}

.headerContent2{
  margin-right: 5px;
}

.medlemmerTable {
  table-layout: fixed;
  /* columns: 8; */
  border-collapse: collapse;
  width: 100%;
}

.firstCol {
  /* padding-left: 10px; */
  width: 50px;
}

/* .otherCols{
  width: 75;
} */

.dropdownCols{
  width: 150px;
}

.alternate {
  background-color: #dddddd;
}

.tableRow {
  height: 3rem;
}

.buttons {
  padding-right: 20px;
  /* float: right; */
  width: 50px;
  
}

.button {
  border: none;
  border-radius: 10px;

  padding: 5px 10px;
  margin-left: 10px;
  transition: transform 200ms ease-in-out;
}

.dropdown {
  text-decoration: none;
  width: 120px;
  font-size: 25px;
}

.button:hover {
  transform: scale(1.1);
}

.tableTextField {
  width: 50%;
}

.searchbar{
  margin-top: 20px;
  margin-bottom: 20px;
  float:right;
  margin-right: 30px;
  
}



@media only screen and (max-width: 1199px) {
  /* NAVBAR */ 
  .NavBar{
    display: none;
  }

  /* ---------------------------- */
  .body {
    //display: flex;
    margin: 100px 50px 50px 50px;
  }
}
